
body{
  background-color: #EBEBEB;
}
.menu_principal{

  list-style-type: none; 
  margin-left: 0%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;

}

.nav_bar {

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

}

a:link{
    color: blue;
}

a:hover{
    color:black
}
.barcoprincipal{
  position: relative;
  top: 60px;
}

.texto_topo {

  color: #21272B; 
  line-height: 0.5;
  position: fixed;
  top: 0;
  right:0;
  left:75px;
  width: 100%;
  background-color: white;  
  text-align: left;
  z-index: 999;

}




