.menu_principal{

  list-style-type: none; 
  margin-left: 0%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;

}

.nav_bar {

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

}

a:link{
    color: blue;
}

a:hover{
    color:black
}
body{}